.p0 {padding:0 !important;}

      .master-div{
        cursor: pointer;
      }

      .grid {
        position: relative;
        margin-left: 40px;
        margin-right: 30px;
        margin-top: 10px;
        top: 75px;
        cursor: pointer;
        
      }

      img {
      max-width: 100%;
      max-height: 100%;
      cursor: pointer;
      
      /* position: center; */
      }

      img:hover{
        opacity: .5;
        transition: .3s ease;
        cursor: pointer;
        
      }

      .item {
        position: absolute;
        width: 300px;
        margin: 5px;
        z-index: 1;
        cursor: pointer;
        
        /* overflow: hidden; */
      }

      .item2 {
        position: absolute;
        margin: 0;
        z-index: 1;
        cursor: pointer;
        
      }

      .item.muuri-item-hidden {
        z-index: 0;
        cursor: pointer;
        
      }

      .item.muuri-item-releasing {
        z-index: 2;
        pointer-events: none;
        cursor: pointer;
        
      }
      .item.muuri-item-dragging {
        z-index: 3;
        pointer-events: none;
        cursor: pointer;
       
      }

      .item-content {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        background: RGB(64, 128, 240);
        font-size: 10px;
        color: white;
        cursor: pointer;
        overflow: hidden;
        border: 5px solid rgba(64, 74, 128, 0.8);
        
      }
      .item.muuri-item-dragging .item-content img {
        background-color: blue;
        opacity: .5;
        Transition: .3s ease;
        cursor: pointer;
        z-index: 10;
        
      }

      .item.muuri-item-dragging .item-content img {
        opacity: .8;
        Transition: .2s ease;
        cursor: pointer;
        background-color: blueViolet;
        z-index: 4;
        
      }

      .item.muuri-item-releasing .item-content {
        background-color: blueViolet;
        size: 1px;
        cursor: pointer;
        z-index: 10;
        
      }

      .item.muuri-item-releasing img {
        opacity: .7;
        cursor: pointer;
        
      }

      ul {
        list-style: none;
        word-wrap: break-word;
        
      }

      .post-description {
        position: absolute;
        z-index: 999;
        left: 0;
        bottom: 0;
        text-align: left;
        font-family: interface, "Helvetica Neue", helvetica, sans-serif;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-top: 5px;
        text-size-adjust: auto;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-left: 5px;
        padding-right: 3px;
        box-shadow: 3px -3px 0px 3px #00000052;
        background-color: RGBA(170, 103, 211, .6)
        /* background-color: #ff5c4ca3; */
      }

      /* Post Buildout */

      #post-buildout-wrapper{
        position: fixed;
        z-index: 15;
      }


      #post-buildout-background{
        width: 100%;
        height: 100vh;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        z-index: 15;
        overflow: hidden;
        
      }

      #post-buildout-image{
        background: white; 
        width: 30%;
        position: absolute; 
        top: 100px;
        left: 200px;
      }

      #post-buildout-image img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }

      #chat-messages.messages {
        width: 100%;
        height: 300%;
        position: absolute;
        overflow: hidden;
        overflow-y: auto;
        padding-bottom: 100px;
        padding-left: 10px;
        background: white;
      }

      #chat-input.inputMessage {
        width: 290px;
        position: absolute;
        border-radius: 20px;
        padding: 5px;
        border: 2px solid #999;
        top: 300%;
        left: 125px;
        height: 60px;
      }

      #username-display{
        position: absolute;
        top: 300%;
        background: white;
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 5px;
        font-size: 20px;
        border-radius: 20px;
        border: 2px solid #999;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      #number-of-clients{
        position: absolute;
        left: 200px;
        font-size: 20px;
        color: white;
        font-family: helvetica;
        top: 22%;
      }


      /* Cell Phone Size */
      @media (max-width: 480px){
          #post-buildout-image{
            background: black; 
            width: 30%;
            position: absolute;
            top: 100px;
            left: 200px;
          }
      }